.body {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  background-color: #777;
  color: #8c8c8c;
  margin: 0 auto;
  text-align: center;
  width:960px;
  font-size: 18px;
  padding-top: 10px;
}

.article {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  background-color: #777;
  color: #ebebeb;
  margin: 0 auto;
  text-align: center;
  width:95%;
  font-size: 18px;
  height: 193px;
  padding-bottom: 20px;
  /*margin-top: 55px;
  padding-top: 10px;*/
}

.h {
  background-color: #ebebeb;
  color: #8c8c8c;
  padding-bottom: 10px;
  width: 90%;
  margin: 0 auto;
  height: 50px;
}

.p {
 background-color: #ebebeb;
 color: #8c8c8c;
 padding-bottom: 10px;
 width: 90%;
 margin: 0 auto;
 clear: top;
 height: 50px;
 margin-top: 10px;
 
}

.header {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  background-color: #ebebeb;
  color: #8c8c8c;
  margin: 0 auto;
  text-align: center;
  height: 95px;
  display: table-cell;
  vertical-align: middle;
  width: 960px;
}

.nav {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  background-color: #ebebeb;
  color: #8c8c8c;
  margin: 0 auto;
  text-align: center;
  height: 95px;
  display: table-cell;
  vertical-align: middle;
  width: 960px;
}

.section {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  text-align: center;
  margin: 0 auto;
  float: left;
  background-color: #ebebeb;
  color: #8c8c8c;
  width: 58%;
  height: 288px;
  margin-bottom: 20px;

}

.aside {
  text-align: center;
  float: right;
  background-color: #ebebeb;
  color: #8c8c8c;
  width: 40%;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
  font-size: 18px;
  margin-right: 0 auto;
  height: 288px;
  margin-bottom: 20px;
}

.footer {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  background-color: #ebebeb;
  color: #8c8c8c;
  margin: 0 auto;
  text-align: center;
  height: 95px;
  clear: both;

  display: table-cell;
  vertical-align: middle;
  width: 960px;
}

/**.greytext {
vertical-align: middle;
}**/

.asideText {
  margin-top: 20px;
}

.sectionText {
  margin-top: 20px;
}

.hText {
  line-height: 350%;
}

.pText {
  line-height: 350%;
}


.articleText {
  padding-top: 20px;
}