* {
    box-sizing: border-box;
    background-color: #000000;
}
body {
    font-family: sans-serif;

}

.white {
    color: white;
}

.allThings {
    background-color: #000000;
}
/* Keep it simple - improvement would be to not display characters */
 .letter {
    display: inline-block;
    list-style: none;
    width: 20px;
    margin: 0 5px;
    border-bottom: 1px solid black;
    text-align: center;
    color: black;
}
.current-word {
    list-style: none;
}
.output {
    opacity: 0;
    transition: opacity 1s ease;
}
.correct {
    background-color: red;
    transition: all 1s ease;
}
.error {
    color: red;
    opacity: 1;
}
.warning {
    color: red;
    opacity: 1;
}
.win {
    color: green;
    opacity: 1;
}

#mensche {
    background-color: black;
}
.red {
    color: red;
}